---
layout: default
---

<h1>
  {{ page.title }}
</h1>
{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
{% endif %}
<article>
  {{ content }}
</article>
{% if site.hide_post_date != true %}
  {% include post-date.html %}
{% endif %}
<!-- 注释掉详细页分享按钮
{% if site.hide_post_share != true %}
  {% include social-sharing.html %}
{% endif %}
-->
{% if site.hide_related_posts != true %}
  {% include related-posts.html %}
{% endif %}
{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}

<p>{{ page.tags }}</p>
 {% for t in sorted_tags %}
    <div>
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t -}}
        <span class="text-muted">{{ site.tags[t].size }}</span>
      </a>
    </div>
  {% endfor %}
